---
layout: default
---

{% for post in paginator.posts %}
  <div class="site-post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="author">
      <span class="meta">{{ post.date | date_to_string }} - by <i>{{ post.author | default: site.author }}</i></span>
    </p>
    <div class="content">
      {{ post.desc }}
    </div>
  </div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>
